# Unity specific ignores
Library/
Temp/
Logs/
Obj/
UserSettings/
MemoryCaptures/

# Ignore the editor settings
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# ビルド結果
Build/
Builds/